body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.logo {
    width: 100px;
    height: 100px;
    background: url('/resources/git.png') no-repeat center center / contain;
    position: absolute;
    animation: move 5s linear infinite;
}

@keyframes moveLogo {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-100%);
    }
}
