.one {
    background-color: lightblue;
    text-align: center;
}

.two {
    background-color: lightpink;
    text-align: center;
}

.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}